@import "tailwindcss";
#root {
  min-height: 100vh; /* Avoid layout shift */
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color: #f9fafb; /* light background */
}

.spinner {
  border: 6px solid #f3f3f3; /* Light gray */
  border-top: 6px solid #4f46e5; /* Indigo */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
